<!DOCTYPE html>
<html>
<head>
	<title>HMKB.com is for sale</title>
	<style>
		body {
			font-family: Arial;
		}
	</style>
</head>
<body>
	<h1>HMKB.com is for sale</h1>
	<p>Price: $169,500 USD</p>
	<p>For inquiries, please email the registrant contact on the <a href='http://whois.domaintools.com/hmkb.com' target='_blank'>Whois Record</a></p>
</body>
</html>